* {
    background-color: rgb(33, 34, 39);
}

.workoutBox {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5%;
}

.addToWorkout {
    background-color: rgb(113, 224, 113);
    margin-bottom: 3%;
    border: 1px solid black;
    border-radius: 20px;
}

/* rgb(64, 102, 138); */