* {
    background-color: rgb(46, 47, 47)
}


li:hover {
    background-color: rgb(159, 175, 218);
    border-radius: 1000px;

}

.allHolder {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 174, 216);
}


.navbarUl {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    width: 50%;
    margin-bottom: 2%;
    margin-top: .5%;
    padding: 1%;
    border-radius: 20px;
    background-color: rgb(230, 75, 204);
}

.navTab {
    margin: 0 auto;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    width: 10%;
}

.title {
    margin: 0 auto;
    background-color: rgb(73, 174, 216);
    width: 40%;
    padding: 5%;
}



/* extra extra */

@keyframes titleMove {
    0% {
        left: 10px;
        top: 0px;
    }

    25% {
        left: -10px;
        top: 0px;
    }

    50% {
        left: 10px;
        top: 0px;
    }

    75% {
        left: -10px;
        top: 0px;
    }

    100% {
        left: 10px;
        top: 0px;
    }
}

.imgSm {
    display: none;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    animation-name: titleMove;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.imgMed {
    display: none;
    margin: 0 auto;
    margin-top: 4%;
    position: relative;
    background-color: transparent;
    animation-name: titleMove;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 600px) {
    .imgSm {
        display: flex;
        margin-top: 10%;
    }
    .navbarUl {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 600px) {
    .imgMed {
        display: flex;
    }
    
}