.loginAllHolder {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    padding: 2px;
    border-radius: 15px;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: rgb(46, 63, 145);
}

button:hover {
    background-color: green;
}

.greetingHolder {
    background-color: rgb(46, 63, 145);
}

.greeting {

    border: 1px solid;
    border-radius: 15px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 75, 204);
}


.loginInfoHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    width: 80%;
    height: 80%;
    margin: 5%;
    

}

.userInput {
    margin-top: 5%;
    background-color: white;
}

.loginBtn {
    border-radius: 15px;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 60%;
    height: 100%;
    background-color: rgb(230, 75, 204);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}

@media only screen and (max-width: 600px) {
    .loginAllHolder {
        margin-top: 20%;
        width: 80%;
        height: 300px;
    }
    .loginBtn {
        height: 20%;
    }
    .userInput {
        height: 20px;
    }

}
