.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 16px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* this is my new stuff */

.dropdownItem {
    background-color: rgb(46, 63, 145);
    cursor: pointer;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.selectContatiner {
    color: rgb(46, 63, 145);
}

.searchAllHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.selectContainer{
    border: none;
    background-color: rgb(46, 63, 145);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.searchButton {
    border: none;
    background-color: rgb(46, 63, 145);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.selectBox{
    background-color: rgb(46, 63, 145);
}

.currentListHeader {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 75, 204);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}

.currentListItems{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 75, 204);
}


.saveButton {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(230, 75, 204);
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}
