.signupAllHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    padding: 2px;
    border-radius: 15px;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    
}

button:hover {
    background-color: green;
}


.greeting {
    border: 1px solid;
    padding: 2px;
    border-radius: 15px;
    width: 100%;
    
}


.signupInfoHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    width: 80%;
    height: 80%;
    margin: 5%;
    
}

.userInput {
    margin-top: 5%;
}

.signupBtn{
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    height: 100%;
    background-color: rgb(43, 135, 151);
}