* {
    background-color: rgb(174, 138, 207)
}

.workoutBox {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5%;
}

.addToWorkout {
    background-color: rgb(113, 224, 113);
    margin-bottom: 3%;
    border: 1px solid black;
    border-radius: 20px;
}