
* {
    background-color: rgb(174, 138, 207)
}


a:hover {
    background-color: rgb(34, 209, 72);
}

.allHolder {
    display:flex;
    flex-direction: column;
}

.imageAndTitle {
    background-color: rgb(31, 187, 161);
}

.logo {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
}


.navbarUl {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.navTab {
    margin: 0 auto;
    
}
